/* Intro */
.intro {
  padding: 0 50px 50px;
  max-width: 500px;
}

.intro h2 {
  font-size: 40px;
  margin: 0;
}

.intro p {
  font-size: 18px;
  line-height: 1.3;
}

/* Example One */
.my-component {
  margin: 25vh 0;
}

.my-component .my-carousel-card {
  min-width: 300px;
  max-width: 600px;
}

@media screen and (max-width: 460px) {
  .my-component .my-carousel-card {
    max-width: 300px;
  }
}

.my-component .my-carousel-card img {
  width: 100%;
}

/* Example Two */
.my-component-full-width .my-carousel-card {
  width: 100%;
  aspect-ratio: 2/1;
}

.my-component-full-width .my-carousel-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Example Three */
.my-inline-component {
  margin: 25vh 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  padding: 0 40px;
}

.my-inline-component .intro {
  padding: 0;
}

.my-inline-component .my-carousel-card {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 30px;
}

.my-inline-component .my-carousel-card:before {
  content: "";
  display: block;
  background: linear-gradient(
    rgba(24, 31, 37, 0) 30%,
    rgba(24, 31, 37, 1) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 300ms ease-in-out;
}

.my-inline-component .my-carousel-card:hover:before {
  opacity: 0;
}

.my-inline-component .my-carousel-card img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
  object-position: center;
}

.my-inline-component .my-carousel-card h4 {
  margin: 0;
  position: relative;
  color: #fff;
  font-size: 20px;
  z-index: 3;
}
