.cardCarousel {
  padding: 0 2rem;
  position: relative;
}

.cardCarouselInner {
  position: relative;
}

.carouselItems {
  transition: all 400ms ease-out;
  position: relative;
}

.carouselItemContent {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  max-width: 100vw;
}

.carousel-arrow {
  position: absolute;
  top: calc(50% - 3rem);

  width: 6rem;
  height: 6rem;
  z-index: 10;

  opacity: 1;
  visibility: visible;

  transition: all 400ms ease-out;
}

.carousel-arrow.disabled {
  opacity: 0;
  visibility: hidden;
}

.prev-button {
  left: 2rem;
}

.next-button {
  right: 2rem;
}

@media screen and (min-width: 768px) {
  .cardCarousel {
    padding: 0 10rem;
  }

  .prev-button {
    left: 5rem;
  }
  
  .next-button {
    right: 5rem;
  }
}